<template>

    <div class="columns">

        <div class="column is-12">

            <div class="add-contact mb-20" v-show="showAddContactBlock">

                <h2 class="subtitle has-text-centered">New contact</h2>

                <div class="columns">
                    <div class="column is-6">
                        <b-field label="Name">
                            <b-input maxlength="200" v-model="newContact.name" type="input"></b-input>
                        </b-field>

                        <b-field label="Email">
                            <b-input maxlength="200" type="email" v-model="newContact.email"></b-input>
                        </b-field>

                        <b-field label="Phone">
                            <b-input maxlength="200" type="input" v-model="newContact.phone"></b-input>
                        </b-field>

                        <b-field label="Success item">
                            <b-input maxlength="200" type="input" v-model="newContact.success_item"></b-input>
                        </b-field>

                        <b-field label="Greet item">
                            <b-input maxlength="200" type="input" v-model="newContact.greet_item"></b-input>
                        </b-field>
                    </div>

                    <div class="column is-6">
                        <b-field label="Site url">
                            <b-input maxlength="200" v-model="newContact.site_url"></b-input>
                        </b-field>

                        <b-field label="Facebook">
                            <b-input maxlength="200" v-model="newContact.facebook_link"></b-input>
                        </b-field>
                        <b-field label="LinkedIn">
                            <b-input maxlength="200" v-model="newContact.linkedin_link"></b-input>
                        </b-field>
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-primary is-big" @click="clickCreateContact">Create contact</button>
                </div>

            </div>


            <div class="m-bottom-20">
                <button class="button is-primary" type="button" @click="showAddContactBlock = !showAddContactBlock">Add contact</button>
            </div>


            <b-table
                    :data="data"
                    :columns="columns"

                    paginated
                    backend-pagination

                    :total="total"
                    :per-page="perPage"
                    @page-change="onPageChange"
                    aria-next-label="Next page"
                    aria-previous-label="Previous page"
                    aria-page-label="Page"
                    aria-current-label="Current page"

                    backend-sorting
                    default-sort-direction="desc"
                    :default-sort="[sortField, sortOrder]"

                    @sort="onSort"
            >

            </b-table>


        </div>
    </div>

</template>


<script>
    import h from '../../helpers';
    import mixins from '../../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=
    import ContactModel from '../../models/Crm/Contact'
    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'crm-contacts',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            const data = [];

            const columns = [
                {
                    field: 'id',
                    label: 'ID',
                    width: '40',
                    numeric: true,
                    sortable: true,
                },
                {
                    field: 'name',
                    label: 'Name',
                    sortable: true,
                },
                {
                    field: 'email',
                    label: 'Email',
                    sortable: true,
                },
                {
                    field: 'site_url',
                    label: 'Site url',
                    sortable: true,
                },
                {
                    field: 'phone',
                    label: 'Phone',
                    sortable: true,
                },
                {
                    field: 'address',
                    label: 'Address',
                },
                {
                    field: 'facebook_link',
                    label: 'Facebook',
                },
                {
                    field: 'linkedin_link',
                    label: 'Linkedin',
                },
                {
                    field: 'yelp_url',
                    label: 'Yelp',
                },
            ];


            return {
                data,
                columns,
                showAddContactBlock: false,
                total: 1000,
                isPaginated: true,
                isPaginationSimple: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',

                sortField: 'id',
                sortOrder: 'asc',

                currentPage: 1,
                perPage: 50,
                page: 1,

                newContact: this.newContactDefaults()
            }
        },
        watch: {

        },
        async mounted()
        {
            this.loadDataAsync();

        },
        methods: {

            newContactDefaults()
            {
                return {
                    name: '',
                    email: '',
                    phone: '',
                    site_url: '',
                    address: '',
                    facebook_link: '',
                    linkedin_link: '',
                    success_item: '',
                    greet_item: '',
                }
            },

            async clickCreateContact()
            {

                var resCreate = await h.api.runTask('create__contact__task', {
                    name: this.newContact.name,
                    email: this.newContact.email,
                    phone: this.newContact.phone,
                    site_url: this.newContact.site_url,
                    address: this.newContact.address,
                    facebook_link: this.newContact.facebook_link,
                    linkedin_link: this.newContact.linkedin_link,
                    success_item: this.newContact.success_item,
                    greet_item: this.newContact.greet_item,
                });

                if (resCreate.isOk())
                {
                    this.newContact = this.newContactDefaults();
                    this.successNotify('Contact added successfully');

                }
                else
                {
                    this.errorNotify('Failed add contact')
                }
            },

            async onPageChange(page)
            {
                this.currentPage = page;
                this.loadDataAsync();
            },

            async loadDataAsync()
            {

                var respModels = await h.repo.getModels(ContactModel, {
                    perPage: this.perPage,
                    page: this.currentPage-1,
                    sort:this.sortField,
                    order: this.sortOrder,
                    with_total: 1,

                    // relations: ['post', 'post.mediaFiles', 'post.scheduledTime'],
                    // where: [
                    //     ['is_success', '=', '0'],
                    // ],

                });

                if (respModels.total)
                {
                    this.total = respModels.total;
                }


                this.data = respModels.list;
            },


            async onSort(field, order)
            {
                this.sortField = field;
                this.sortOrder = order;
                this.loadDataAsync();
            }
        }
    }
</script>


<style scoped lang="scss">

    @import "../../scss/components.scss";

    .add-contact
    {
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 2px solid $color_blue;
    }

</style>
