<template>
    <div class="">

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],

        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                name: 'Matt Stauffer',
                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted()
        {


        },
        methods: {
            async onUpdateModels()
            {

            }
        }
    }
</script>


<style scoped lang="scss">

</style>
