<template>
    <div class="">
        <form action="/dfds/fds">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create new post</p>
                </header>

                <section class="modal-card-body">

                    <b-field label="Social accounts">
                        <span v-for="(account) in socialAccounts"
                              :key="index"
                              @click="onClickAccount"
                              class="is-vtop m-right-10" >

                                <p>
                                    {{account.username}}
                                </p>

                            </span>

                    </b-field>

                    <div class="pictures p-10">
                        <b-field class="">
                            <b-upload v-model="dropFiles"
                                      multiple
                                      class="m-right-10"
                                      @input="onFilesChanged"
                                      drag-drop>
                                <div class="content has-text-centered">
                                    <p>
                                        <b-icon
                                                icon="upload"
                                                size="is-large">
                                        </b-icon>
                                    </p>
                                    <p>Upload images</p>
                                </div>
                            </b-upload>

                            <span v-for="(file, index) in dropFilesPreview"
                                  :key="index"
                                  class="is-vtop m-right-10" >

                                <img :src="file.url" :alt="file.name" class="preview">

                                <button class="delete is-small"
                                        type="button"
                                        @click="deleteDropFile(index)">
                                </button>
                            </span>
                        </b-field>

                    </div>

                    <b-field label="Message">
                        <b-input maxlength="200" type="textarea"></b-input>
                    </b-field>


                    <b-field label="Scheduled time">
                        <b-datepicker
                                :min-date="new Date()"
                                v-model="scheduleDate"
                                placeholder="Select scheduled time"
                                icon="calendar-today">
                        </b-datepicker>
                    </b-field>

                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="saveAsDraft">Save as draft</button>
                    <button class="button is-primary" @click="publishNow">Publish now!</button>
                    <button class="button is-primary" @click="schedule">Schedule</button>
                </footer>
            </div>
        </form>
    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    h.route('api.post.store');
    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: 'create-post-window',
        components: {},
        mixins: [mixins],

        props: ['email', 'password'],
        // props: {
        //
        //     category: {
        //         type: Object,
        //         required: true
        //     },
        //     metaOptions: {
        //         type: Array,
        //         required:true
        //     },
        // },

        computed: {

        },

        data() {
            return {
                dropFiles: [],
                dropFilesPreview:[],
                scheduleDate: null,

                name: 'Matt Stauffer',
                formRoute: h.route('api.post.store')
            }
        },

        watch: {

        },


        async created()
        {

        },

        async mounted()
        {

            if (this.openPost)
            {

            }

        },

        methods: {

            onClickAccount()
            {

            },

            saveAsDraft()
            {
                debugger;
            },

            publishNow()
            {
                debugger;
            },

            schedule()
            {
                debugger;
            },

            onFilesChanged(files)
            {
                var self = this;

                files.map(function (file, index) {

                    var previewItem = _.find(self.dropFilesPreview, {name: file.name});
                    if (previewItem) return;
                    //-=-=-=-=-=-=-=-=-=-=-=-=

                    var reader = new FileReader();
                    reader.onload = function(e) {

                        self.dropFilesPreview.push({
                            name: file.name,
                            url: e.target.result
                        });

                    };

                    reader.readAsDataURL(file);
                });
            },

            onClickTest()
            {
                let formData = new FormData();

                this.$buefy.toast.open('User confirmed');

                this.dropFiles.map(function (file, index) {
                    formData.append('image'+index, file)
                });
            },

            async onUpdateModels()
            {

            },

            deleteDropFile(index) {
                this.dropFiles.splice(index, 1);
                this.dropFilesPreview.splice(index, 1);
            }
        }
    }
</script>


<style scoped lang="scss">

    .preview
    {
        max-width: 100px;
        mex-height: 100px;


    }

    .pictures
    {
        border: 1px solid #c2c8cc;
    }
</style>
