<template>
    <div class="">
        <section class="section-start">
            <h2 class="title has-text-centered">Add new social account</h2>

            <div class="columns has-text-centered">

                <div class="column is-12 has-text-centered ">

                    <a @click="newPinterest" class="button p-30 is-large m-right-20">
                        <span class="icon is-medium">
                            <i class="fab fa-pinterest fa-1x m-right-5"></i>
                        </span>
                        <span> Pinterest </span>
                    </a>

                    <a @click="newInstagram" class="button p-30 is-large m-right-20">
                        <span class="icon is-medium">
                            <i class="fab fa-instagram fa-1x m-right-5"></i>
                        </span>
                        <span> Instagram </span>
                    </a>

                    <a @click="newTwitter" class="button p-30 is-large m-right-20">
                        <span class="icon is-medium">
                            <i class="fab fa-twitter-square fa-1x m-right-5"></i>
                        </span>
                        <span> Twitter </span>
                    </a>

                </div>

            </div>
        </section>

        <section>
            <div v-show="isAddAccountFormVisible" class="column is-8 has-text-centered is-offset-2">

                <h3 class="title is-4">Add new {{newAccount.socialNetwork}} account</h3>


                <div class="field is-horizontal m-bottom-20">
                    <div class="field-body">
                        <div class="field is-groduped">
                            <p class="control is-expanded has-icons-left">
                                <input type="text" v-model="newAccount.username" placeholder="Username" class="input is-large"> <span class="icon is-small is-left"><i class="fa fa-user"></i></span></p>
                        </div>

                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input type="password" v-model="newAccount.password" placeholder="Password" value="alex@smith.com" class="input is-large">

                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
<!--                                <span class="icon is-small is-right">-->
<!--                                    <i class="fa fa-check"></i></span>-->
                            </p>
                        </div>
                    </div>
                </div>

                <b-button @click="addAccount" size="is-large"
                          class="is-primary" icon-left="github-circle">
                    Add account
                </b-button>

            </div>
        </section>



        <section class="section-start">
            <h2 class="title has-text-centered">Your social accounts</h2>

            <div v-if="accounts.length == 0">
                <p class="has-text-centered">Nothing here yet, add one first</p>
            </div>
            <div v-else>

                <b-table :data="accounts">

                    <template slot-scope="props">

                        <b-table-column field="date" label="Network" centered>

                            <span class="icon is-medium">
                                <i v-if="props.row.social_network_id == 1" class="fab fa-pinterest fa-1x m-right-5"></i>
                            </span>

                        </b-table-column>

                        <b-table-column field="last_name" label="Avatar">

                            <img :src="props.row.profile_image" alt="">

                        </b-table-column>

                        <b-table-column field="first_name" label="Username">
                            {{ props.row.username }}
                        </b-table-column>

                        <b-table-column field="date" label="Actions" centered>

                            <a class="button" @click="removeAccount(props.row)">Remove</a>

                        </b-table-column>

                    </template>
                </b-table>

            </div>
        </section>

    </div>
</template>


<script>
    import h from '../helpers';
    import mixins from '../components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=
    import UserSocialAccount from '../models/SocialEngine/UserSocialAccount'
    import SocialNetworkModel from '../models/SocialEngine/SocialNetworkModel'


    export default {
        name: 'social-accounts',
        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {

                newAccount: {
                    socialNetwork: '',
                    username: '',
                    password: ''
                },

                isAddAccountFormVisible: false,
                accounts: [],
                name: 'Matt Stauffer',
                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted()
        {
            this.getAccountsList();

        },
        methods: {

            async removeAccount(row)
            {
                this.$buefy.dialog.confirm({
                    title: 'Delete this account?',
                    message: `Do you realy want to delete this account: ${row.username}?`,
                    onConfirm: () =>  {

                        var respDel = h.repo.deleteModels(UserSocialAccount, [row.id]);

                        var index = _.findIndex(this.accounts, {id: row.id});
                        this.accounts.splice(index, 1);
                        this.$buefy.toast.open('Account deleted');
                    }
                })
            },

            async addAccount()
            {
                var respAdd = await h.api.runTask('AddSocialNetworkAccountTask', {
                    social_network: this.newAccount.socialNetwork,
                    username: this.newAccount.username,
                    password: this.newAccount.password
                });

                if (respAdd.isOk())
                {
                    this.resetAddAccount();
                    this.isAddAccountFormVisible = false;
                    this.toastOk('Account added');
                    this.getAccountsList();
                }
                else
                {
                    this.toastError(respAdd.errors().message);
                }
            },

            async getAccountsList()
            {

                var respModels = await h.repo.getModels(UserSocialAccount, {
                    perPage: 1000
                });

                this.accounts = respModels.list;

            },

            resetAddAccount()
            {
                this.newAccount.username = '';
                this.newAccount.password = '';
            },
            
            newPinterest()
            {
                this.resetAddAccount();
                this.newAccount.title = 'Pinterest';
                this.newAccount.socialNetwork = 'pinterest';
                this.isAddAccountFormVisible = true;
            },

            newInstagram()
            {
                this.resetAddAccount();
                this.newAccount.title = 'Instragram';
                this.newAccount.socialNetwork = 'instagram';
                this.isAddAccountFormVisible = true;
            },

            newTwitter()
            {
                this.resetAddAccount();
                this.newAccount.title = 'Twitter';
                this.newAccount.socialNetwork = 'twitter';
                this.isAddAccountFormVisible = true;
            }
        }
    }
</script>


<style scoped lang="scss">

</style>
