<template>
    <section class="" v-show=show>

        <h3 class="title ">Change password</h3>

        <b-field>
            <b-input type="password"
                     v-model=oldPass
                     password-reveal
                     placeholder="Old password">
            </b-input>
        </b-field>

        <b-field>
            <b-input type="password"
                     v-model=newPass
                     placeholder="New password"
                     password-reveal>
            </b-input>
        </b-field>
        <b-field
                :type=passFieldType
                :message=passFieldMessage
        >
            <b-input type="password"

                     v-model=newPass2
                     @input=validateNewPassword
                     placeholder="New password again"
                     password-reveal>
            </b-input>
        </b-field>

        <b-button type="is-primary" @click="clickUpdatePassword">Update password</b-button>
    </section>
</template>

<script>
    import h from '../../helpers';
    import mixins from '../../components_mixins.js'

    export default {
        name: "AccountSettingsPassword",
        mixins: [mixins],

        data: function() {
            return {
                oldPass: '',
                newPass: '',
                newPass2: '',

                passFieldType: 'password',
                passFieldMessage: ''
            }
        },

        props: {
            show: {
                required: true,
                type: Boolean
            }
        },

        methods: {

            async clickUpdatePassword() {

                var respChange = await h.api.runTask('change__cu__password__task', {
                    oldPass: this.oldPass,
                    newPass: this.newPass,
                    newPass2: this.newPass2
                });

                if (respChange.isOk())
                {

                }
                else
                {

                }

            },

            validateNewPassword()
            {
                if (this.newPass == this.newPass2)
                {
                    this.passFieldType = 'password';
                    this.passFieldMessage = '';
                }
                else
                {
                    this.passFieldType = 'is-danger';
                    this.passFieldMessage = 'Passwords not the same';
                }
            }

        }
    }
</script>

<style scoped>

</style>
