<template>

    <section class="" v-show=this.show>
        <h3 class="title ">Account settings</h3>

        <b-field is-horizontal label="Name">
            <b-input v-model=name></b-input>
        </b-field>

        <b-field is-horizontal label="Timezone">
            <b-input v-model=timezone></b-input>
        </b-field>

        <b-field is-horizontal label="Language">
            <b-input v-model=language></b-input>
        </b-field>

        <b-field is-horizontal label="Registered date">
            {{$root.currentUser.created_at}}
        </b-field>

        <b-button type="is-primary" @click="onClickUpdateSettings">Update</b-button>

        <hr class="navbar-divider">

        <section>

            <b-field label="Email">

                <b-input
                        placeholder="Email"
                        type="email"
                         v-model=email
                         @input=validateEmail
                         maxlength="40">
                </b-input>
            </b-field>

            <b-button type="is-primary" @click="onClickUpdateEmail">Update email</b-button>
        </section>

    </section>
</template>

<script>
    import h from '../../helpers';
    import mixins from '../../components_mixins.js'
    import UserModel from '../../models/UserModel'

    export default {
        name: "AccountSettingsGeneral",
        mixins: [mixins],

        props: {
            show: {
                required: true,
                type: Boolean
            }
        },
        data: function() {
            return {
                emailFieldMessage: '',
                emailFieldType: 'success',

                email: this.$root.currentUser.email,
                timezone: this.$root.currentUser.timezone,
                language: this.$root.currentUser.language,
                name: this.$root.currentUser.name,

            }
        },

        mounted() {

            let fdf = this.$root.currentUser.getNameAndEmail();

            this.validateEmail();
        },

        methods: {

            async onClickUpdateEmail() {

                var resp = await h.api.runTask('change_cu_own_email_task', {
                    email: this.email
                });

                debugger;
                if (resp.isOk())
                {
                    this.successNotify();
                }
                else
                {
                    debugger;
                }

            },

            validateEmail()
            {

                this.email

            },

            async onClickUpdateSettings() {

                var respUpdate = await h.repo.updateModels(
                    UserModel,
                    [
                        {
                            id: this.$root.currentUser.id,
                            name: this.name,
                            timezone: this.timezone,
                            language: this.language,
                        }
                    ]
                );


                if (respUpdate.isOk())
                {
                    this.$buefy.notification.open({
                        message: 'Something happened correctly!',
                        type: 'is-success'
                    })
                }
                else
                {

                }
            }
        }

    }
</script>

<style scoped>

</style>
