
$bg-color1: #F2F6FA;
$color_gray: #E6EAEE;
$color_blue: #3498DB;


html, body {
  //font-family: 'Open Sans', serif;
  //font-size: 16px;
  //line-height: 1.5;
  height: 100%;
  background-color: $bg-color1 !important;
}

// navigation

.topNav
{
  &.navbar
  {
    z-index: 100;
  }

  .container
  {
    border-bottom: 1px solid $color_gray;
  }

  .navbar-item
  {
    padding: 0 1rem;
    font-size: 1.3em;

    &.active
    {
      &:after{
        position: absolute;
        bottom: 0;
        height: 0;
        width: 0;
        left: 50%;
        margin-left: -9px;
        border: 9px solid transparent;
        border-bottom-color: $color_blue;
        content: "";
      }
    }

    &:hover
    {

    }
  }
}


.bottomNav
{
  .navbar-item
  {
    padding: 0 1.5rem;

    border-bottom: 2px solid white;

    &:hover
    {
      border-bottom: 2px solid #f2f2f2;
    }

    &.is-active
    {
      border-bottom: 2px solid $color_blue;
    }
  }
}



.container .columns {
  margin: 3rem 0;
}

.navbar-item.brand-text {
  font-weight: 300;
}

.navbar-item, .navbar-link {
  font-size: 1em;
  font-weight: 400;
}

.wrap
{
  margin-top: 20px;
  //background: $bg-color1;
}

.columns {
  //width: 100%;
  //height: 100%;
  //margin-left: 0;
}

.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: #276cda;
}
.menu-list a.is-active {
  background-color: transparent;
  color: #276cda;
  font-weight: 700;
}


// admin
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.card-header-title {
  color: #8F99A3;
  font-weight: 400;
}

.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 300;
  color: #8F99A3;
}

.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}

.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;
}
.card-footer-item:hover {
}
.card-table .table {
  margin-bottom: 0;
}

.events-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}

// forum
.button.is-primary.is-alt {
  background: #00c6ff;
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

// kanban board

.board-item {
  margin: 5px 0;
  will-change: transform;
}

.board-item-content {
  word-break: break-all;
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  margin: 5px;
}

// tabs
.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 60px;
  top: 197px;
  color: #000;
  background-color: white;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// footer
.footer
{
  background-color: $bg-color1 !important;
}


.section-start
{
  margin-top: 50px;
}

.title, .subtitle{
  &.section-start
  {
    margin-bottom: 40px;
  }
}


.wellcome-page
{

}



.fa-pinterest
{
  color: red;
}

.fa-instagram
{
  color: #C13584;
}

.fa-twitter-square
{
  color: #4ddbff;
}


.actions-page
{
  .menu-list
  {

    li{
      &.is-active
      {
        background-color: hsl(0, 0%, 86%);
      }

    }
    a
    {
      font-size: 1rem;


    }
  }
}

//
//hr {
//  background-color: #ccc !important;
//  height: 1px !important;
//}
