<template>
    <div class="profile">
        Profile component @{{ name }}
        Locale {{$L('ru.global.welcome_to_app')}}
        <a href="#" @click="onLoadModels">Load models</a>
        <a href="#" @click="onUpdateModels">Update models</a>
    </div>
</template>


<script>
    import h from '../../helpers';
    import mixins from '../../components_mixins.js'

    import SocialNetworkModel from '../../models/SocialEngine/SocialNetworkModel'
    import UserModel from '../../models/UserModel'


    export default {
        name: 'profile',
        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },
        data() {
            return {
                name: 'Matt Stauffer',
                // title: this.post.title,
            }
        },
        watch: {

        },

        created () {
            // var proto = {
            //     SocialNetworkModel: SocialNetworkModel.prototype
            // }
        },

        async mounted()
        {
            // var bundle = await h.repo.getModels(SocialNetworkModel, {
            //     models_list: 1
            // });

            var resSend = await this.runTask('Crm/Pull.create__contact__list__task', {
                subject: this.subject,
                to_emails: [this.toEmail],
                message: this.message,
                accounts: [23.4, 'sdf']
            });

            // var bundle = await h.repo.updateModels(SocialNetworkModel, [
            //     {id: 1, name: 'sdfds'}
            // ]);

        },
        methods: {
            async onUpdateModels()
            {

            },
            async onLoadModels()
            {

                // debugger;
                // var pets = await h.repo.getModels(new SocialNetwork(), 'App\\Models\\Pet')
                //     .then((resp)=>{
                //         debugger;
                //     })

                // var pets = await h.repo.getModels('App\\Models\\Pet');
                // debugger;
            }

        }

    };
</script>



<style>
    .profile {
        background: #eee;
        border: 1px solid #aaa;
        border-radius: 2em;
        margin: 2em auto;
        min-height: 150px;
        padding: 2em;
        width: 300px;
    }
</style>
