<template>
    <section>
        <h1 class="title">Contacts list</h1>

        <div class="field is-horizontal">

            <div class="field-label is-normal"><label class="label">Filters</label></div>

            <div class="field-body">

                <div class="field is-grouped">
                    <p class="control is-expanded has-icons-left">
                        <input type="text" placeholder="Name" class="input">
                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                    </p>
                </div>

                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        <input type="text" placeholder="Email" value="" class="input">
                        <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                        <span class="icon is-small is-right"><i class="fa fa-check"></i></span>
                    </p>
                </div>

            </div>
        </div>


        <b-table

                :data="list">

            <template slot-scope="props">

                <b-table-column label="ID">
                    {{props.row.id}}
                </b-table-column>

                <b-table-column field="name" label="Name" centered>
                    {{props.row.name}}
                </b-table-column>

                <b-table-column field="phone" label="Phone" centered>
                    {{props.row.phone}}
                </b-table-column>

                <b-table-column field="date" label="Emails" centered>
                    {{props.row.emails}}
                </b-table-column>

                <b-table-column field="first_name" label="Yelp">
                    {{props.row.yelp_link}}
                </b-table-column>

                <b-table-column field="last_name" label="Facebook">
                    {{props.row.facebook_link}}
                </b-table-column>

                <b-table-column field="last_name" label="Youtube">
                    {{props.row.youtube_link}}
                </b-table-column>

            </template>
        </b-table>


    </section>
</template>

<script>

    import h from '../../../../app_vue/helpers';
    import mixins from '../../../../app_vue/components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: "marketing__contacts_list",

        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                name: 'Matt Stauffer',
                subject: '',
                toEmail: '',
                message: '',
                list: [],
                // title: this.post.title,
            }
        },
        watch: {

        },
        async mounted()
        {


        },
        methods: {



        }
    }
</script>

<style scoped>

</style>
