<template>
    <section>
        <h1 class="title">Send email</h1>

        <b-loading :active.sync="isLoading"></b-loading>


        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">To email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input @input="onFormChanged" v-model="toEmail" type="email" placeholder="Destination" class="input">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Subject</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input @input="onFormChanged" v-model="subject" type="text" placeholder="Email title" class="input ">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Message</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea @input="onFormChanged" v-model="message" placeholder="Email body" class="textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal"><div class="field-label"></div> <div class="field-body"><div class="field"><div class="control">

            <b-button @click="sendEmail" :disabled="disabledSendBtn" type="is-primary">
                Send message
            </b-button>

        </div></div></div></div>

    </section>
</template>

<script>

    import h from '../../../../app_vue/helpers';
    import mixins from '../../../../app_vue/components_mixins.js'
    //-=-=-=-=-=-=-=-=-=-=-=-=

    // import SocialNetwork from '../models/SocialEngine/SocialNetwork'
    // import PostModel from '../models/post'

    export default {
        name: "marketing__send_email",

        components: {},
        mixins: [mixins],
        props: {
            // category: {
            //     type: Object,
            //     required: true
            // },
            // metaOptions: {
            //     type: Array,
            //     required:true
            // },
        },

        computed: {

        },

        data() {
            return {
                disabledSendBtn: true,
                isLoading: false,

                subject: '',
                toEmail: '',
                message: ''
            }
        },

        watch: {

        },

        async mounted()
        {

        },
        methods: {

            async sendEmail()
            {
                this.isLoading = true;
                this.disabledSendBtn = true;
                var resSent = await this.runTask('Crm/Pull.SendEmailTask', {
                    subject: this.subject,
                    to_emails: [this.toEmail],
                    message: this.message,
                });

                this.disabledSendBtn = false;
                this.isLoading = false;


                if (resSent.isOk())
                {
                    this.toastOk('Email sent');

                    this.subject='';
                    this.toEmail='';
                    this.message='';
                    this.onFormChanged();
                }

            },

            onFormChanged()
            {
                this.sendBtnActivity();
            },


            sendBtnActivity()
            {
                var disabled = false;

                if (this.subject.length === 0)
                {
                    disabled = true;
                }

                if (this.toEmail.length === 0)
                {
                    disabled = true;
                }

                if (this.message.length === 0)
                {
                    disabled = true;
                }

                this.disabledSendBtn = disabled;
            }

        }
    }
</script>

<style scoped lang="scss">

</style>
