<script src="./queue-list.component.js"></script>

<template>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Publish queue</h2>
                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-4">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" id="s" placeholder="Type a keyword and hit enter" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container drafts-list">

            <posts-list ref="postsList"
                    :bundle="bundle"
            ></posts-list>

        </div>

    </div>

</template>

<style scoped lang="scss">

    .drafts-list
    {

    }

</style>


