<template>
    <div>
        <div class="pictures p-10">
            <b-field class="">
                <b-upload v-model="dropFiles"
                          multiple
                          class="m-right-10"
                          @input="onFilesChanged"
                          drag-drop>
                    <div class="content has-text-centered">
                        <p>
                            <b-icon
                                    icon="upload"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Upload images</p>
                    </div>
                </b-upload>

                <span v-for="(file, index) in dropFilesPreview"
                      :key="index"
                      class="is-vtop m-right-10" >

                                <img :src="file.url" :alt="file.name" class="preview">

                                <button class="delete is-small"
                                        type="button"
                                        @click="deleteDropFile(index)">
                                </button>
                            </span>
            </b-field>

        </div>

        <b-field label="Message">
            <b-input maxlength="200" type="textarea"></b-input>
        </b-field>


        <b-field label="Scheduled time">
            <b-datepicker
                    :min-date="new Date()"
                    v-model="scheduleDate"
                    placeholder="Select scheduled time"
                    icon="calendar-today">
            </b-datepicker>
        </b-field>
    </div>

</template>

<script>
    export default {

        name: "smma__create_post",


        async mounted() {

            // var bundle = await h.repo.getModels(SocialNetworkModel, {
            //     models_list: 1
            // });
            //
            // var bundle = await h.repo.updateModels(SocialNetworkModel, [
            //     {id: 1, name: 'sdfds'}
            // ]);
            // debugger;

        },
    }
</script>

<style scoped>

</style>
